
html {
    height: 100%;
}

body{
    min-height: 100%;
}

/* whole page */
#flex_container{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    height: 100vh;
}

/* the middle section */
#main_section{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    flex: 4;
}

footer {
    padding: 2em;
    border: 0.5em solid coral;
    color: red;
    position: sticky;
    bottom: 0;
}

nav {
    color: blue;
    border: 0.2em outset indianred;
    position: sticky;
    top: 0;

    /* flex settings*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sidebar {
    padding: 1em;
    border: 0.5em solid cyan;
    color: bisque;
    flex: 1;
}

.icon {
    border-radius: 50%;
    max-width: 5%;
    height: auto;
    margin: 0.2em 0.2em;
}


main article {
    border: 0.2em solid olive;
    margin: 0.5em 0.1em;
}

.post_header {
    display: flex;
    justify-content: space-between;
    margin: 0.5em 0.5em;
    min-height: fit-content;
}


main {
    color:gold;
    padding: 3%;
    margin: 0.5em 1em;
    border: 1em solid sandybrown;
    flex: 3;
    overflow: auto;
    height: 80vh;
}

