html {
    height: 100%;
}

/* the middle section */
#main_section{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    flex: 4;
    margin: 1em 0.5em;
}

footer {
    padding: 2em;
    /*color: red;- */
    background-color: darkgray;
    border-radius: 5px;
    /* position: sticky; 
    bottom: 0; */
}

.sidebar {
    padding: 1em;
    border-radius: 5px;
    background-color: darkgrey;
    flex: 1;
}

main article {
    margin: 0.5em 0.1em;
    background-color:  #c5c4c4;
    border-radius: 5px;
}

.post_header {
    display: flex;
    justify-content: space-between;
    margin: 0.5em 0.5em;
    min-height: fit-content;
}

main {
    padding: 3%;
    flex: 3;
    overflow: auto;
    height: 80vh;
}

div + img{
    margin: auto;
    display: block;
}


div ~ p{
    color: rgb(43, 41, 41);
}

div > p{
    color:darkblue;
}