* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    line-height: 1.6;
    margin: 0;
}

/* whole page */
#flex_container{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    height: 100%;
}

.header {
    padding-top: .5em;
    padding-bottom: .5em;
    padding-left: .5em;
    background-color: #433633;
    position: sticky;
    width: 100%;
    top: 0;
    border-radius: 5px;
}

nav {
    width: 100%;
    /* flex settings*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#navigation {
    padding: 0;
    margin: 0;
    /*width: 100%;*/
}

.hor_spacer {
    display: inline-block;
    width: 100%;
}

.icon {

    border-radius: 40px;
    max-width: 5%;
    height: auto;
    min-height: 41px;
    min-width: 36px;
    margin: 0.2em 0.2em;
}

a {
    color: #f7f0f5;
    text-decoration: none;
}

a:hover{
    background-color: #8f857d;
    border-radius: 5px;
}

/* Dropdown Button */
.dropbtn {
    background-color: #433633;
    color: #decbb7;
    padding: 1px;
    font-size: 1px;
    border: none;
    max-width: 36px;
  }
  
  /* The container*/
  .dropdown {
    position: static;
    display: inline-block;
    height: 41px;
    max-width: 36px;
  }
  
  /* Dropdown Content */
  .dropdown-content {
    display: none;
    float: right;
    background-color: #decbb7;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: #433633;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #decbb7;}
  
  /* dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /*background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #616461;}